.starRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.star {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: lightgray;
  transition: color 0.2s;
}

.star.selected {
  @apply text-blue-700;
}

.star:hover {
  @apply text-blue-700;
}
